{% extends 'mysite.html'%}

   {% block abc %}

<h1> This is my product page !!!</h1>

<table border="1">
    <tr>
        <td>Product ID </td>
        <td>{{id}}</td>
    </tr>

    <tr>
        <td>Product Name </td>
        <td>{{name}}</td>
    </tr>

    <tr>
        <td>Description </td>
        <td>{{desc}}</td>
    </tr>

    <tr>
        <td>Price </td>
        <td>{{price}}</td>
    </tr>


     <tr>
        <td>Features </td>
        <td>

            {% if features %}
             <ul>
                    {% for x in  features %}

                         <li>{{x}}</li>

                     {% endfor %}
            </ul>

              {% else %}

             NA

            {% endif %}

        </td>







    </tr>

    <tr>
        <td></td>
        <td>
             <form action="/addToCart">
                 <input type="hidden" value="{{id}}" name="pid">
                 <input type="number" name="qty" maxlength="2">
                 <input type="submit" value="Buy">
             </form>
        </td>
    </tr>

</table>


 {% endblock %}
