<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% for product in products %}

<table border="1">
    <tr>
        <td>Id</td>
        <td>{{product.id}}</td>
    </tr>
     <tr>
        <td>Name</td>
         <td><a href="/product/{{product.id}}">{{product.name}}</a></td>
    </tr>
      <tr>
        <td>Name</td>
        <td>{{product.description}}</td>
    </tr>
      <tr>
        <td>Name</td>
        <td>{{product.price}}</td>
    </tr>
</table>


{% endfor %}

</body>
</html>
